[user]
	name = Nattawut Phetmak
	email = neizod@gmail.com
[color]
	ui = auto
[push]
	default = simple
[core]
	editor = vi
	pager = less
	excludesfile = ~/.gitignore
[alias]
	ci = commit
	cm = commit --message
	ca = commit --amend --no-edit
	co = checkout
	cp = cherry-pick
	st = status --short --branch
	sf = show --compact-summary
	dw = diff --word-diff
	rw = diff --staged --word-diff
	review = diff --staged
	graph = log --all --oneline --decorate --graph
	root = rev-parse --show-toplevel
	wipeout = clean -ffdx
	unstage = restore --staged
	rollback = reset --hard HEAD^
